<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>School Inventory</title>
</head>
<body>
    <div class="container">
        <div class="side-menu">
            <div class="side-menu-top">
                <h1 class="menu-title">Home</h1>
                <%- include("partials/navigationMenu.ejs") %>
            </div>
            <div class="side-menu-bottom">
                <%- include("partials/addButtons.ejs") %>
            </div>
        </div>
        <div class="content">
            <h1 class="content-title">LAPTOPS</h1>
            <div class="info-section">
                <div class="info-card green-card">
                    <h3>Available</h3>
                    <p><%= availableLaptops[0].available %> of <%= totalLaptops[0].total %></p>
                </div>

                <div class="info-card red-card">
                    <h3>Unavailable</h3>
                    <p><%= unavailableLaptops[0].unavailable %> of <%= totalLaptops[0].total %></p>
                </div>

                <div class="info-card neutral-card">
                    <h3>Other</h3>
                    <p>Unknown location: <%= unknownLocationLaptops[0].unknown %></p>
                    <p>Reserved: <%= reservedLaptops[0].reserved %></p>
                    <p>Damaged/Not in use: <%= notInUseLaptops[0].damaged %></p>
                </div>
            </div>

            <h1 class="content-title">TABLETS</h1>
            <div class="info-section">
                <div class="info-card green-card">
                    <h3>Available</h3>
                    <p><%= availableTablets[0].available %> of <%= totalTablets[0].total %></p>
                </div>

                <div class="info-card red-card">
                    <h3>Unavailable</h3>
                    <p><%= unavailableTablets[0].unavailable %> of <%= totalTablets[0].total %></p>
                </div>

                <div class="info-card neutral-card">
                    <h3>Other</h3>
                    <p>Unknown location: <%= unknownLocationTablets[0].unknown %></p>
                    <p>Reserved: <%= reservedTablets[0].reserved %></p>
                    <p>Damaged/Not in use: <%= notInUseTablets[0].damaged %></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>