<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptops Inventory</title>
</head>
<body>
    <%- include("partials/navigationMenu.ejs") %>
    <h1>Laptops</h1>
    <% if (locals.laptopsList) { %>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Model</td>
                    <td>Status</td>
                    <td>User (ID)</td>
                    <td>Document</td>
                    <td>CPU</td>
                    <td>RAM</td>
                    <td>Storage</td>
                    <td>Notes</td>
                </tr>
            </thead>
            <tbody>
                <% laptopsList.map(laptop => { %>
                    <tr>
                        <td><%= laptop.id %></td>
                        <td><%= laptop.model %></td>
                        <td><%= laptop.status %></td>
                        <td><%= laptop.user_id %></td>
                        <td><%= laptop.doc_signed %></td>
                        <td><%= laptop.cpu %></td>
                        <td><%= laptop.ram %></td>
                        <td><%= laptop.storage %></td>
                        <td><%= laptop.notes %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
</html>