<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Laptops Inventory</title>
</head>
<body>
    <div class="container">
        <div class="side-menu">
            <div class="side-menu-top">
                <h1 class="menu-title">Laptops</h1>
                <%- include("partials/navigationMenu.ejs") %>
            </div>
            <div class="side-menu-bottom">
                <%- include("partials/addButtons.ejs") %>
            </div>
        </div>
        <div class="content">
            <% if (locals.laptopsList) { %>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Model</th>
                            <th>Status</th>
                            <th>User (ID)</th>
                            <th>Document</th>
                            <th>CPU</th>
                            <th>RAM</th>
                            <th>Storage</th>
                            <th>Notes</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% laptopsList.map(laptop => { %>
                            <tr>
                                <td><%= laptop.id %></td>
                                <td><%= laptop.model %></td>
                                <td><%= laptop.status %></td>
                                <td><%= laptop.user_id %></td>
                                <td><%= laptop.doc_signed %></td>
                                <td><%= laptop.cpu %></td>
                                <td><%= laptop.ram %> GB</td>
                                <td><%= laptop.storage %> GB</td>
                                <td><%= laptop.notes %></td>
                                <td class="actions-cell">
                                    <a class="edit-btn" href="/laptops/update/<%= laptop.id %>">Edit</a>
                                    <form action="/laptops/delete/<%= laptop.id %>" method="post">
                                        <button class="delete-btn" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } %>
        </div>
    </div>
</body>
</html>