<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Tablets Inventory</title>
</head>
<body>
    <div class="container">
        <div class="side-menu">
            <div class="side-menu-top">
                <h1 class="menu-title">Tablets</h1>
                <%- include("partials/navigationMenu.ejs") %>
            </div>
            <div class="side-menu-bottom">
                <%- include("partials/addButtons.ejs") %>
            </div>
        </div>
        <div class="content">
            <% if (locals.tabletsList) { %>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Model</th>
                            <th>Status</th>
                            <th>User(ID)</th>
                            <th>Notes</th>
                            <th>Document</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tabletsList.map(tablet => { %>
                            <tr>
                                <td><%= tablet.id %></td>
                                <td><%= tablet.model %></td>
                                <td><%= tablet.status %></td>
                                <td><%= tablet.user_id %></td>
                                <td><%= tablet.notes %></td>
                                <td><%= tablet.doc_signed %></td>
                                <td class="actions-cell">
                                    <a class="edit-btn" href="/tablets/update/<%= tablet.id %>">Edit</a>
                                    <form action="/tablets/delete/<%= tablet.id %>" method="post">
                                        <button class="delete-btn" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } %>
        </div>
    </div>
</body>
</html>