<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablets Inventory</title>
</head>
<body>
    <a href="/">Home</a><br>
    <h1>Tablets</h1>
    <% if (locals.tabletsList) { %>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Model</td>
                    <td>Status</td>
                    <td>User(ID)</td>
                    <td>Notes</td>
                    <td>Document</td>
                </tr>
            </thead>
            <tbody>
                <% tabletsList.map(tablet => { %>
                    <td><%= tablet.id %></td>
                    <td><%= tablet.model %></td>
                    <td><%= tablet.status %></td>
                    <td><%= tablet.user_id %></td>
                    <td><%= tablet.notes %></td>
                    <td><%= tablet.doc_signed %></td>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
</html>